.footer-container {
    width: 100vw;
    height: 300px;
    background-color: #082136;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: inset 0 0 20px #000000;
}

.footer-header {
    color: #35A8FF;
    font-size: 24px;
    padding-bottom: .5em;
}

.footer-links {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4px;
}

.footer-copyright {
    color: #8f8f8f;
    padding-top: 1.5em;
}

.links:hover {
    color: #FF9B5C;
    transition: color 0.3s ease;
}