@import "tailwindcss";


.body-container {
    
}
/* 
.main-container {
    background: #0C2B44;
    background: radial-gradient(circle, rgba(12, 43, 68, 1) 63%, rgba(30, 108, 170, 1) 84%, rgba(21, 76, 121, 1) 100%);
    min-height: 1000px;
} */
