.header-nav {
    display: flex;
    width: 100vw;
}

.header-container {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #0C2B44;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    border-bottom: 1px solid #e0e0e0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.myAccountSpan,
.myTopRated,
.header-signin-button{
    color: #35A8FF;
}

.header-signin-button,
.header-signup-button {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    /* justify-self: space-between !important; */
    /* justify-content: s !important; */
    /* justify-items: flex-end !important; */
    /* align-self: flex-end; */
}

.header-signup-button {
    color: #FF9B5C;
}