.header-nav {
    display: flex;
    width: 100vw;
}

.header-container {
    box-sizing: border-box;
    width: 100vw;
    height: 60px;
    background-color: #0C2B44;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
    font-size: 16px;
    color: #fff;
    padding: 0 40px;
    border-bottom: 1px solid #e0e0e0;
    opacity: 95%;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: inset 0 0 15px #000000;

}

.myAccountSpan,
.myTopRated,
.header-signin-button{
    color: #35A8FF;
}

.header-signin-button,
.header-signup-button {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.header-signup-button {
    color: #FF9B5C;
}

.header-signin-button:hover {
    color: #FF9B5C;
    transition: color 0.3s ease;
}

.header-signup-button:hover {
    color: #35A8FF;
    transition: color 0.3s ease;
}
.hovered:hover {
    color: #FF9B5C;
    transition: color 0.5s ease;
    /* background-color: tomato; */
    /* padding-top: 100px; */
}   

