.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #bfbfbf;
}

.hero-section {
    background-color: #0C2B44;
    height: 2000px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero-image, 
.hero-section {
    box-shadow: 0 15px 15px #0000009d;

}
.search-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    gap: 1em;
    width: 20%;
    margin-top: 2em;
}
.search-bar {
    width: 110%;
    height: 50px;
    padding-left: 2em;
    background-color: #fff;
    border-radius: 2em;
}


.search-section {
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

.search-button {
    border: none;
    cursor: pointer;
    margin: .6em;
}

.intro-text {
    font-size: 34px;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60%;
    text-align: center;
    margin-top: 1em;
}

.intro-header {
    font-size: 128px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}